{{ define "main" }}

    <!DOCTYPE html>
    <html lang="en">
    <head>

        {{ partial "regular-head.html" . }}
        <link rel="stylesheet" href="/static/css/challenges/list.css">

    </head>
    <body>

        {{ partial "hero.html" . }}

        <section class="challenges-list">
            {{ range .Pages }}
                <article class="challenge-wrapper">
                    <a class="challenge" href="{{ .RelPermalink }}">
                        <div class="content-wrapper">
                            <p>{{ .Params.category }} #{{ .Params.challenge_number }}</p>
                            <h2>{{ .Title }}</h2>
                            {{ .Description | truncate 250 }}
                            <p>{{ .Params.date_string }}</p>
                        </div>

                        {{ $imageURL := print .RelPermalink .Params.image }}

                        {{ $image := .Page.Resources.GetMatch .Params.image }}

                        {{ $image200 := $image.Resize "200x" }}
                        {{ $image400 := $image.Resize "400x" }}
                        {{ $image600 := $image.Resize "600x" }}
                        {{ $image800 := $image.Resize "800x" }}

                        <img class="image"
                            srcset="
                                {{ $image200.RelPermalink }} 200w,
                                {{ $image800.RelPermalink }} 400w,
                                {{ $image600.RelPermalink }} 600w,
                                {{ $image800.RelPermalink }} 800w,
                                {{ $image.RelPermalink }} 1000w"
                            sizes="
                                (max-width: 200px) 200px,
                                (max-width: 400px) 400px,
                                (max-width: 600px) 600px,
                                (max-width: 800px) 800px,
                                1000px"
                            src="{{ $imageURL }}"
                            alt="{{ .Title }}" 
                        />
                    </a>
                </article>
            {{ end }}
        </section>

        {{ partial "footer.html" . }}
    </body>
    </html>

{{ end }}