.challenges-list {
    padding: 80px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(1fr, 2fr));
}

.challenge-wrapper:nth-child(10n - 9):not(:last-child):not(:nth-last-child(2)) {
    grid-area: span 1 / span 3;
}

.challenge-wrapper:nth-child(10n - 7):not(:last-child):not(:nth-last-child(2)), .challenge-wrapper:nth-child(10n - 2):not(:last-child):not(:nth-last-child(2)) {
    grid-area: span 2 / span 2;
}

.challenge-wrapper {
    border-radius: 5px;
    overflow: clip;
}

.challenge {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    text-decoration: none;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
    box-sizing: border-box;
    color: white;
    background-color: #6B5AED;
}

.content-wrapper:hover {
    opacity: 1;
}

.image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    object-fit: cover;
}