img {
    width: 100vw;
    margin: 0;
    margin-bottom: -10px;
    background-color: var(--background-primary);
}

#wave {
    margin-top: 50px;
}

.BlogPost .post h2 {
    font-size: 28px;
}

.BlogPost .post h3 {
    color: var(--font-important);
    margin: 0 auto;
    font-size: calc(var(--font-regular) + 4px);
}

.BlogPost .post p {
    font-size: 21px;
    text-align: justify;
    width: calc(50% + 150px);
    margin-left: calc(25% - 75px);
    text-align: justify !important;
}

.BlogPost .post a {
    color: var(--link-font);
    text-decoration: none;
    font-family: 'Baloo 2';
}

.BlogPost .post ul, .BlogPost .post ol {
    color: var(--font-body);
    position: relative;
    margin: 0;
    text-align: justify;
    font-size: 21px;
    width: calc(50% + 150px);
    margin-left: calc(25% - 75px);
}

.BlogPost .post-image {
    width: calc(50% + 150px);
    padding: 0;
    border-radius: 3px;
}

.post-image.with-code {
    border-radius: 3px 3px 0 0;
}

.post-image.with-text-below {
    margin-bottom: 5px;
}

.post-image.with-text-above {
    margin-top: 5px;
}

.BlogPost .post h3.with-text-above {
    margin-top: 20px;
}

.BlogPost .post .slideshow img:nth-child(1) {
    display: none;
}

.BlogPost .post span.text-update {
    color: #ff95c7;
}

.post-image.with-unrelated-text-above {
    margin-top: 25px;
}

.BlogPost .codeBlock {
    width: calc(50% + 150px);
    margin-left: calc(25% - 75px);
    text-align: left !important;
}

.codeBlock.after-text {
    margin-top: 14px;
}

/* 
.codeBlock span {
    background-color: #27262a !important;
}

.codeBlock .punctuation {
    color: #fff;
}

.codeBlock .parameter {
    color: #73b1d4;
}

.codeBlock .maybe-class-name {
    color: #73d498;
}

.codeBlock .property-access {
    color: #7daaff;
}

.codeBlock .boolean {
    color: #598be9;
} */