.Ball { 
    --x: 50;
    --y: 52;

    position: absolute;
    background-color: #2509589c;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    transform: translate(-50%, -50%);
    height: 2.5vh;
    width: 2.5vh;

    border-radius: 50%;
}

.Paddle {
    --position: 50;

    position: absolute;
    background-color: #210958;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    height: 10vh;
    width: 1vh;
    opacity: 0;
}

.Paddle.Left {
    left: 1vw;
}   

.Paddle.Right {
    right: 1vw;
}

@media screen and (max-width: 512px) {
    .Ball {
        display: none;
    }
}