img {
    width: 100vw;
    margin: 0;
    margin-bottom: -10px;
    background-color: var(--background-primary);
}

.projects {
    font-size: 2em;
}

p {
    color: var(--font-body);
    position: relative;
    margin: 0;
}