img {
    width: 100vw;
    margin: 0;
    margin-bottom: -10px;
    background-color: var(--background-primary);
}

#wave {
    margin-top: 50px;
}

footer {
    text-align: center;
    background-color: var(--accent-primary);
    padding: 50px;
    margin-top: 0;
}

footer > h1 {
    font-family: 'Baloo 2';
    margin: 0;
    color: var(--font-title);
    background: none;
    -webkit-text-fill-color: var(--header-font-primary);
}

p {
    color: var(--font-body);
    position: relative;
    margin: 0;
}