@import url('https://fonts.googleapis.com/css2?family=Baloo+2');

:root {
    --background-primary: #0B0433;
    --background-secondary: #0f083f;
    --background-secondary-alternate: #e7e6e9;
    --background-extra: #1f1a50;

    --accent-primary: #4D17CF;
    --accent-secondary: #e45361;

    --font-title: hsl(0, 0%, 100%); 
    --font-important: hsl(0, 0%, 92%);
    --font-body: hsl(240, 26%, 87%);
    --font-button: hsl(254, 23%, 5%);

    --header-font-primary-alternate: hsl(0, 0%, 0%); 
    --header-font-secondary-alternate: hsl(0, 0%, 8%);

    --body-font-primary-alternate: hsl(240, 26%, 13%);
    --body-font-secondary-alternate: hsl(254, 23%, 15%);

    --link-font: hsl(231, 100%, 78%);

    --font-small: 16px;
    --font-regular: 18px;
    --font-large: 24px;
    --font-largest: 36px;
}

body {
  background-color: var(--background-primary);
  margin: 0;
  font-family: 'Baloo 2';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--font-important);
}

h2 {
  color: var(--font-important);
}

a {
  color: var(--font-title);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.animation-hover:hover::after {
  /* Scale & Position */
  width: 100%;
}

.animation-hover::after {
  /* Color & Style */
  background: rgb(254,109,123);
  background: linear-gradient(90deg, rgba(254,109,123,1) 0%, rgba(253,176,42,1) 100%); 

  /* Scale & Position */
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  position: absolute;
  content: '';

  /* Animations */
  transition: .2s ease-in-out;
  transform: translateX(-50%);
}