.Navbar {
    width: 100vw;
    height: min-content;
    top: 0;
    z-index: 1;
    padding: 10px;
    position: absolute;
    justify-content: start;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    height: 50px;
}

.NavbarItem {
    color: var(--header-font-primary);
    padding: 0 15px 0 15px;
    position: relative;
    text-decoration: none;
}

.NavbarItem:hover::after {
    width: calc(100% - 30px);
}

.NavbarItem::after {
    background: rgb(254,109,123);
    background: linear-gradient(90deg, rgba(254,109,123,1) 0%, rgba(253,176,42,1) 100%); 
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    position: absolute;
    content: '';
    transition: .2s ease-in-out;
    transform: translateX(-50%);
}