.SuggestedReadNext {
    background-color: var(--background-secondary);

    width: calc(50% + 150px);
    height: 200px;
    margin-top: 20px;
    margin-left: calc(25% - 75px);
    text-align: left !important;
    border-radius: 5px;

    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    align-items: center;
    transition: .3s ease-in-out;
}

.SuggestedReadNext img {
    width: calc(40vw - 70px);
    height: 100%;
    margin: 0;
    border-radius: 5px;
    justify-self: center;
    display: flex;  
    object-fit: cover;
    object-position: center;
}

.SuggestedReadNext-content {
    display: block;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    height: 100%; 
    margin-top: 40px;
}

.SuggestedReadNext p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--font-body);
    font-size: var(--font-small);
    width: 100%;
    padding: 10px 0;
}

.SuggestedReadNext a:nth-child(1) {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--font-body);
    font-size: var(--font-large);
    position: relative;
    margin: 0;
}

.SuggestedReadNext p:nth-child(1) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--font-body);
    font-size: var(--font-large);
    padding: 0;
    position: relative;
    margin: 0;
}

.SuggestedReadNext p:nth-child(2) {
    position: absolute;
    color: var(--font-important);
    font-size: calc(var(--font-small) - 2px);
    top: calc(1em + 10px);
    left: 20px;
}

.SuggestedReadNext p:nth-child(3) {
    position: absolute;
    color: var(--font-important);
    font-size: calc(var(--font-small) - 2px);
    top: calc(1em + 10px);
    right: 20px;
    text-align: right;
}

.SuggestedReadNext p:nth-child(4) {
    height: 60px;
    margin-top: 1em;
}

.SuggestedReadNext a:nth-child(5) {
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--accent-primary);
    border-radius: 3px;
    color: var(--font-button);
    text-decoration: none;
    width: 100%;
    width: max-content;
    margin: 0 auto 0 auto;
    padding: 10px;
    outline: none;
    transition: .2s ease-in;
}

.SuggestedReadNext a:nth-child(5):hover {
    background-color: var(--accent-secondary);
}


.SuggestedReadNext:hover {
    transform: scale(1.005);
}