.section-title {
    margin: 80px 80px 20px -100%;
    font-size: 32px;
    font-weight: 800;
    transition: margin 0.5s ease;
}

.email {
    cursor: pointer;
}

.about {
    padding: 20px;
    margin: 0 80px 20px 80px;
    border-radius: 5px;
    background-color: #242F35;
}

.about p {   
    margin: 0;
    line-height: 20px;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
}

.projects {
    gap: 100px;
    margin: 0 80px 80px 80px;
    display: flex;
    flex-direction: column;
}

.project {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.content-wrapper {
    width: 30vw;
    min-width: 300px;
    max-width: calc(100vw - 160px);
    right: 0;
    translate: 0 -50%;
    top: 50%;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242F35;
}

.project:nth-child(2n) .content-wrapper {
    right: auto;
}

.project-flag {
    font-weight: 800;
}

.project-name {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

.project-name, .project-stack {
    margin: 0;
}

.project-description {
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.project-links {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project a {
    padding: 10px 20px;
    z-index: 1;
    width: fit-content;
    text-decoration: none;
    color: white;
    position: relative;
}

.project a::before {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: background-color 0.2s ease;
    content: '';
    position: absolute;
    background-color: #6B5AED;
}

.project a:hover::before {
    background-color: #ed725a;
}

.project a::before:hover {
    background-color: #ed725a;
}

.project img {
    border-radius: 5px;
    height: 75vh;
    max-width: calc(100vw - 160px);
    width: auto;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
    position: absolute;
}

.project:nth-child(2n) img {
    margin-left: 0;
    left: auto;
    right: 0;
}

@media screen and (max-width: 1000px) {
    .section-title {
        margin: 40px 40px 20px -100%;
    }

    .projects {
        gap: 40px;
    }

    .about, .projects {
        margin: 0 40px 20px 40px;
    }

    .project {
        height: auto;
    }

    .project img {
        min-width: 0;
        min-width: 100%;
        width: 100%;
        border-radius: 5px 5px 0 0;
        height: auto;
        position: initial;
        transform: none;
    }

    .content-wrapper {
        min-width: 0;
        min-width: 100%;
        width: calc(100vw - 80px);
        border-radius: 0 0 5px 5px;
        right: auto;
        position: initial;
        box-sizing: border-box;
        translate: none;
    }
}