<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&family=Rubik&display=swap" rel="stylesheet"> 

<link rel="icon" href="/static/icons/favicon.ico">

<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/syntax.css">

<meta name="description" content="{{ .Description }}">

<meta itemprop="datePublished" content="{{ .PublishDate }}" />
<meta itemprop="dateModified" content="{{ .Lastmod }}" />
<meta itemprop="image" content="{{ print .Permalink .Params.image }}"/>
<meta itemprop="author" content="{{ .Params.author }}" />
<meta itemprop="description" content="{{ .Description }}" />
<meta itemprop="publisher" content="dillon-hunt.com" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:image" content="{{ print .Permalink .Params.image }}" />

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ print .Permalink .Params.image }}" />

<title>{{ .Title }}</title>