<head>
    <link rel="stylesheet" href="/static/css/partials/navigation.css">
</head>
<body>
    <nav class="nav">
        <a class="nav-link" selected='{{ if eq "/" .Page.Params.link }}true{{ end }}' href="/">Home</a>
        <a class="nav-link" selected='{{ if eq "/blog" .Page.Params.link }}true{{ end }}' href="/blog">Blog</a>
        <a class="nav-link" selected='{{ if eq "/challenges" .Page.Params.link }}true{{ end }}' href="/challenges">Challenges</a>
    </nav>    

    <nav class="brand-nav">
        <a class="brand"  href="/">DILLON HUNT</a>
    </nav>
</body>
