<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/static/icons/favicon.ico">

<link rel="stylesheet" href="/static/css/syntax.css">
<link rel="stylesheet" href="/static/css/index.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&family=Rubik&display=swap" rel="stylesheet"> 

<meta name="description" content="{{ .Description }}">

<meta itemprop="description" content="{{ .Description }}" />
<meta itemprop="publisher" content="dillon-hunt.com" />

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<title>{{ .Title }}</title>