<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icons/favicon.ico">

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/404.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&family=Rubik&display=swap" rel="stylesheet"> 

    <meta itemprop="description" content="Page Not Found" />
    <meta itemprop="publisher" content="dillon-hunt.com" />

    <meta property="og:title" content="404 | Dillon Hunt" />
    <meta property="og:description" content="Page Not Found" />
    <meta property="og:url" content="{{ .Permalink }}" />

    <title>404</title>
    
</head>
<body>
    {{ partial "navigation.html" . }}

    <section class="hero">
        <h1 class="title">404</h1>
        <p class="subtitle">Page Not Found</p>
    </section>  

</body>
</html>